@layout('layouts/default.edge')

@section('content')
  <div class="container">
    <h1 class="title">Hello, gulp</h1>
    <figure class="logo">
      <img src="/images/gulp.svg" alt="">
    </figure>
  </div>
@endsection
